.general-tab {
	margin-top: 16px;
	padding: 0 18px 18px 18px;
	&__columns {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 32px;
	}

	&__column {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
}
