@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('./reset.scss');
@import url('./App/components/CustomSelect/customSelect.scss');
@import url('./App/components/CustomSelectRow/customSelectRow.scss');
@import url('./App/components/CustomInput/customInput.scss');
@import url('./App/components/CustomInputDate/customInputDate.scss');
@import url('./App/components/LabledField/labledField.scss');
@import url('./App/components/Panel/panel.scss');
@import url('./App/components/TabItem/tabItem.scss');
@import url('./App/components/TabsWrapper/tabsWrapper.scss');
@import url('./App/components/TabSelectorItem/tabSelectorItem.scss');
@import url('./App/components/GeneralTab/generalTab.scss');
@import url('./App/components/Button/button.scss');
@import url('./App/components/InputButton/inputButton.scss');
@import url('./App/components/Loader/loader.scss');
@import url('./App/components/CustomInputAppItem/customInputAppItem.scss');
@import url('./App/components/SidesTab/sidesTab.scss');
@import url('./App/components/SidesTabRow/sidesTabRow.scss');
@import url('./App/components/TabButton/tabButton.scss');
@import url('./App/components/InsuredTab/insuredTab.scss');
@import url('./App/components/CustomList/customList.scss');
@import url('./App/components/CustomList/CustomListHeaderColumn/customListHeaderColumn.scss');
@import url('./App/components/CustomList/CustomListRow/customListRow.scss');
@import url('./App/components/CustomList/CustomListRowColumn/customListRowColumn.scss');
@import url('./App/components/CustomSelectList/customSelectList.scss');
@import url('./App/components/PlansTab/plansTab.scss');
@import url('./App/components/TreatyForm/treatyForm.scss');
@import url('./App/components/AmendmentTab/amendmentTab.scss');
@import url('./App/components/CustomInputSearchMultiple/customInputSearchMultiple.scss');
@import url('./App/components/InfoModal/infoModal.scss');
@import url('./App/components/PlansTab/TouDetails/touDetails.scss');
@import url('./App/components/FilesTab/FilesDropdown/filesDropdown.scss');
@import url('./App/components/TabSelectorItem/TabSelectorItemNew/tabSelectorItemNew.scss');
@import url('./App/components/TabsWrapper/TabsWrapperNew/tabsWrapperNew.scss');

:root {
	--medpult-bg-color: #f2f4f6;
	--medpult-panel-color: white;
	--medpult-hover-color: #f8f8f8;
	--medpult-field-border-color: #d9d9d9;
	--medpult-blue-active-color: #64c3f4;
	--medpult-blue-link-color: #5295fa;
	--medpult-alert-color: #ff0505;
}

// Панель фильтрации
.filter-panel {
	margin-bottom: 15px;
	&__list {
		list-style-type: none;
	}
}

// Сброс стандартных стилей фильтров
.filter-panel__item--rp .button-add-element {
	display: none !important;
}

.filter-panel__item--team .button-add-element {
	display: none !important;
}
